<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
</IfModule>

RewriteBase /darksouls/
RewriteRule analytics  analytics.php
RewriteRule faq  faq.php
RewriteRule builds  builds.php
RewriteRule calcs  calcs.php
RewriteRule finder  finder.php
RewriteRule weapons  weapons.php
RewriteRule register  reg.php
RewriteRule account  acc.php
RewriteRule login  login.php
RewriteRule logout  logout.php
RewriteRule take  take.php
RewriteRule manage  manage.php
RewriteRule share  share.php
RewriteRule favorites  fav.php
RewriteRule recover  recov.php
RewriteRule reset  reset.php